* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./assets/background.png');
	background-size: cover;
}
